<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Accueil</title>
    </head>

    <body>
        <h1>Accueil</h1>

        <h2><a href="/authorisation">Log in</a></h2>
        <h2>Mark for {{ name }} = {{ score }}</h2>
        <h2>Serious Game</h2>
        <img src="static/img/ptinterrogation.png" alt="img" style="width:100px;height:100px;">
        <a href="/serious-game">Explication jeu sérieux</a>
        <h2>Aide à domicile</h2>
        <h2>Littéraires</h2>
        <img src="static/img/iconefrancais.png" alt="img" style="width:100px;height:100px;">
        <ul>
                <li><a href="/exo/litteraire/easy">facile</a></li>
                <li><a href="/exo/litteraire/medium">moyen</a></li>
                <li><a href="/exo/litteraire/hard">difficile</a></li>      
        </ul>
        <h2>Mathématiques</h2>
        <img src="static/img/iconemaths.png" alt="img" style="width:100px;height:100px;">
        <ul>
            <li><a href="/exo/math/easy">facile</a></li>
            <li><a href="/exo/math/medium">moyen</a></li>
            <li><a href="/exo/math/hard">difficile</a></li>      
        </ul>
    </body>
</html>
