<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Serious Game</title>
    </head>

    <body>
        <h1>Serious Game</h1>
        <span>
            Un jeu sérieux (de l’anglais serious game : serious, « sérieux » et game, « jeu ») est une activité qui combine une intention « sérieuse » — de type pédagogique, informative, communicationnelle, marketing, idéologique ou d’entraînement — avec des ressorts ludiques. De manière synthétique, un jeu sérieux englobe tous les jeux de société, jeux de rôle et jeux vidéo qui s'écartent du seul divertissement.
        </span>
        <h3><a href="/"> Accueil </a></h3>
    </body>
</html>
